body{
    -webkit-font-smoothing: antialiased;
}

.container{
    width: 100vw;
    max-width: 480px;
    margin: 60px auto;
    background-color: #f7f7f7;
    box-shadow: 3px 3px 10px rgba(0,0,0, 0.2);
    border-radius: 5px;
    overflow: hidden;

}

.header{
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
}

.title{
    margin: 0;
}

.subtitle{
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header input{
    background-color: rgba(0,0,0, 0.3);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 16px 24px;
    width: 100%;
}

.header input:focus{
    outline: none;
}

.user-list{
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.user-list li{
    display: flex;
    padding: 24px;
    column-gap: 20px;
}

.user-list img{
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.user-list .user-info h4{
    margin: 0 0 10px;
}

.user-list .user-info p{
    font-size: 12px;
}

/* 最後でないli */
.user-list li:not(:last-of-type){
    border-bottom: 1px solid #eee;
}

.user-list li.hide{
    display: none;
}