.container{
    width: 100vw;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.wrapper{
    display: flex;
    background-color: #8e44ad;
    color: #fff;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 600px){
    .wrapper{
        flex-direction: column;
    }
}