.container{
    width: 100vw;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.search-wrapper{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 30px;
}

.search{
    position: relative;
}

.search .input{
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s;
}

.btn{
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;

    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.btn:focus, .input:focus{
    outline: none;
}

.search.active .input{
    width: 250px;
}

.search.active .btn{
    transform: translateX(248px);
}