body{
    -webkit-font-smoothing: antialiased;
}

.container{
    width: 100vw;
    margin: 0 auto;
    text-align: center;
}

.container h1{
    text-align: center;
}

.control{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    border: none;
    text-align: center;
}

input:focus{
    outline: none;
}