body{
    -webkit-font-smoothing: antialiased;
}

.container{
    width: 100vw;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.btn{
    background-color: rebeccapurple;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:focus{
    outline: none;
}

.btn:active{
    transform: scale(0.98);
}

#toasts{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.toast{
    min-width: 240px;
    padding: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    margin: 8px 0;
    border-radius: 5px;

    animation: showToast 0.5s ease-out 0s;
    border-left: 8px solid #000;
}


.toast.info{
    border-color: rgb(122, 195, 218);
}
.toast.success{
    border-color: rgb(86, 199, 92);
}
.toast.danger{
    border-color: rgb(235, 51, 27);
}
.toast.warning{
    border-color: rgb(248, 194, 45);
}

@keyframes showToast {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

.del-toast{
    opacity: 0;
    transition: 0.4s ease-in;
}

