body{
    -webkit-font-smoothing: antialiased;
}


h1{
    text-align: center;
}

.container{
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    max-width: 1000px;

}

.container img{
    object-fit: cover;
    height: 300px;
    width: 300px;
    max-width: 100%;
}
