body{
    overflow-x: hidden;
}

.container{
    width: 100vw;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

/* 奇数番目の.box --> 初期位置を右に */
.box{
    background-color: #f0f0f0;
    width: 70%;
    height: 200px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(150vw);
    transition: transform 0.8s ease;
}

/* 偶数番目の.box --> 初期位置を左に */
.box:nth-of-type(even){
    transform: translateX(-150vw);
}

.box.show{
    transform: translateX(0);
    transition: transform 0.8s ease;
}