body{
    -webkit-font-smoothing: antialiased;
}

.container{
    width: 100vw;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.card{
    width: 100%;
    max-width: 480px;
    margin: 60px auto;
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.result-container{
    background-color: rgba(0,0,0, 0.05);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
    padding: 1rem;
    font-size: 18px;
    letter-spacing: 1px;
    height: 60px;
    width: 100%;
}

.result-container #result{
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.btn{
    border: none;
    background-color: #3b3b98;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-large{
    display: block;
    width: 100%;
}

.result-container .btn{
    position: absolute;
    top: 8px;
    right: 8px;
}

.setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.setting #length{
    border: 1px solid #ccc;
    padding: 4px 8px;
    outline: none;
}
