body{
    -webkit-font-smoothing: antialiased;
    background-color: aliceblue;
}

.container{
    width: 100vw;
    max-width: 768px;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.user-form{
    width: 100%;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;

    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.03);
}

.user-form input::placeholder{
    color: #bbb;
}

.user-form input:focus{
    outline: none;
}

.card{
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.03);

    display: flex;
    padding: 3rem;
    gap: 2rem;
}

.avatar{
    border-radius: 50%;
    border: 10px solid #f0f0f0;
    height: 150px;
    aspect-ratio: 1/1;
}

.user-info{
    /* color: #111; */
    /* margin-left: 2rem; */
}

.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.repo{
    text-decoration: none;
    background-color: aliceblue;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media(max-width: 540px){
    .card{
        flex-direction: column;
        align-items: center;
    }

    .user-form{
        max-width: 400px;
    }
}